{% extends 'mailing/base.html' %}

{% block title %}Удалить сообщение{% endblock %}
{% block header %}Подтвердите удаление{% endblock %}
{% block content %}
<div class="container">
    {% if message.created_by == request.user %}
        <p>Вы уверены, что хотите удалить сообщение "{{ message.subject }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger">Удалить</button>
            <a href="{% url 'mailing:message_list' %}" class="btn btn-outline-secondary">Отмена</a>
        </form>
    {% endif %}
{% endblock %}
