{% extends 'mailing/base.html' %}

{% block title %}Создание получателя{% endblock %}
{% block header %}Создать нового получателя{% endblock %}
{% block subheader %}Введите данные нового получателя{% endblock %}

{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{% url 'mailing:recipient_list' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
