{% extends 'mailing/base.html' %}

{% block title %}{{ view.object.pk|default:"Создание новой записи" }}{% endblock %}

{% block content %}
<h1>{{ view.object.pk|default:"Создание новой записи" }}</h1>
<form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
    {% csrf_token %}


    {{ form.as_p }}  {# Рендеринг всех полей формы как параграфы #}

    <button type="submit">Сохранить</button>
    <a href="{% url 'blog:blogpost_list' %}" class="btn btn-danger">Отмена</a>
</form>
{% endblock %}