{% extends "mailing/base.html" %}

{% block content %}
<div style="margin-left: 20px;">
<h2>Ваш профиль</h2>
<ul>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Телефон:</strong> {{ user.phone }}</p>
    <p><strong>Страна:</strong> {{ user.country }}</p>

    <a href="{% url 'mailing:mailing_statistics' %}"><strong>Статистика ваших рассылок</strong></a>


    {% if user.avatar %}
        <p><strong>Аватар:</strong></p>
        <img src="{{ user.avatar.url }}" alt="Avatar" width="150">
    {% endif %}
    <div class="mt-4">
    <a href="{% url 'users:profile_edit' %}">Редактировать профиль</a>
    </div>
    <div class="mt-2">
    <a href="{% url 'users:logout' %}">Выйти</a>
    </div>
</ul>
{% endblock %}
